!!!
%html
  %head
    %title Trippy
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{"rel" => "stylesheet", "href" => "style.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "media" => "screen and (max-width: 480px)"  , "href" => "small.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "media" => "screen and (max-width: 1019px) and (min-width: 481px)"  , "href" => "medium.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "media" => "screen and (min-width: 1020px)"  , "href" => "large.css", "type" => "text/css"}
    %meta{"name" => "viewport", "content" =>"width=device-width; initial-scale=1.0; maximum-scale=1.0;user-scalable=false;" }
    :javascript
      var articles_hash = "#{@hash || ''}";
  %body
    #page
      %h1 TRIPPY
      #container
        %h2.article_status
        %form{:method => "post", :action => '/articles'}
          #field_container
            %h2{:class => "label"} Commute?
            %input{:class => "input_field", "type" => "checkbox", "name" => "commute", "checked" => "checked", :id => "commute_check"}
            %select{:style => "display:none;", :id => "tasks", :name => "activities"}
              %option{:value => "bathroom"} Go to the bathroom (5 min.)
              %option{:value => "meat"} Thaw one pound of meat (8 min.)
              %option{:value => "hair"} Watch your girlfriend dry her hair (10 min.)
              %option{:value => "adobe"} Install Adobe Creative Suite (30 min.)
              %option{:value => "compile"} Wait for GHC to compile (45 min.)
            %br/
            %h2{:class => "label"} Twitter Account:
            %input{:class => "input_field" ,"type" => "text", "name" => "twitter_account"}
            %br/
            %h2{:class => "label"}
              Current Location:
              %span{:id => "gps"} Geo
            %input{:class => "input_field" ,"type" => "text", "name" => "origin", :id => "location_field"}
            %br/
            %h2{:class => "label"} Commute Destination:
            %input{:class => "input_field" ,"type" => "text", "name" => "destination", :id => "destination_field"}
            %br/
          %input{"type" => "text", "name" => "geolat", "style" => "display:none;", :id => "geo_lat"}
          %input{"type" => "text", "name" => "geolong", "style" => "display:none;", :id => "geo_long"}
          %input{:type => "submit"}

          #articles

          %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", :type => "text/javascript"}
          %script{:src => "trippy.js", :type => "text/javascript"}

          - if @msg
            :javascript
              $(function(){
                $("h2.article_status").show().append("#{@msg}")
                Trippy.startJobChecker();
              });
