body {
	background:#fefefe;
	font-family:Georgia;
}

#page {
	background:#fff;
	border-top:1px solid #000;
	min-height:400px;
}
h1 {
  text-align: left;
  font-size: 36px;
  font-family: "Helvetica",arial,sans-serif;
  color: #fff;
  background:#000;
  padding:10px;
  padding-left:30px;
  border-top:1px solid #fff;
}

#container {
	margin:0 auto;
	padding:0 30px 10px 30px;
	background:#fff;
}
h2.label {
  color: #666;
  margin: 5px 10px;
  font-family: helvetica,arial,sans-serif;
  font-size: 20px;
  display: inline; 
  float:left;
  clear:both;
}

input.input_field {
  margin-bottom: 10px; }

#commute_check {
  margin-bottom: 15px; }

li {
	list-style-type:none;
	border-top:1px solid #cecece;
	border-bottom:1px solid #cecece;
	padding: 20px 0 20px 0;
}

form {
  overflow:auto;
}

#field_container {
  overflow:auto;
  clear:both;
}

input {
  margin-bottom:20px;
}
input.input_field {
  height:30px;
  width:65%;
  font-size:20px;
  font-family:Georgia;
  padding:5px;
  float:right;
}

input[type=submit] {
  clear:both;
}

h2.article_status {
  display:none;
  padding:15px;
  background:#cfc;
}

h2.sad_article_status {
  color:#660000 !important;
  background:#FFEEEE !important;
}

input[type=checkbox] {
  width:20px !important;
  float:left;
}

#tasks {
  float:right;
  width:66.5%;
}