body {
	background:#fefefe;
	font-family:Georgia;
}

#page {
	background:#fff;
}
h1 {
  text-align: center;
  font-size: 36px;
  font-family: "Helvetica",arial,sans-serif;
  color: #999;
  padding-top: 10px; 
  background:#fff;
}

#container {
	margin:0 auto;
	padding:0 30px 10px 30px;
	background:#fff;
}
h2.label {
  color: #666;
  margin: 5px 10px;
  font-family: helvetica,arial,sans-serif;
  font-size: 20px;
  display: inline; }

input.input_field {
  margin-bottom: 10px; }

#commute_check {
  margin-bottom: 15px; }

li {
	list-style-type:none;
	border-top:1px solid #cecece;
	border-bottom:1px solid #cecece;
	padding: 20px 0 20px 0;
}