h1 {
  text-align: center;
  font-size: 36px;
  font-family: helevetica,arial,sans-serif;
  color: #999;
  padding-top: 10px; }

#container {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 80px;
  bottom: 10px; }

h2.label {
  color: #666;
  margin: 5px 10px;
  font-family: helvetica,arial,sans-serif;
  font-size: 20px;
  display: inline; }

input.input_field {
  margin-bottom: 10px; }

#commute_check {
  margin-bottom: 15px; }
